* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffaafb;
    font-family: 'Space Grotesk', sans-serif;
    color: #1212b2;
    line-height: 1.2;
}

header {
    background-color: #1212b2;
    padding: 32px 32px 0 32px;
    text-align: center;
    color: #ffaafb;
}

header .logo {
    font-size: 100px;
    line-height: 1;
    position: relative;
    bottom: -3px;
}

main {
    text-align: center;
}

.container {
    max-width: 540px;
    margin: 0 auto;
    padding: 32px 12px;
}

.container > * {
    margin-bottom: 32px;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: space-around;
    gap: 10px;
}

.ingredient {
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: #a1d2ff;
    font-size: 40px;
    text-align: center;
    line-height: 2;
    border: 2px solid #1212b2;
    border-radius: 20px;
    cursor: pointer;
    animation: pop-effect 2s ease-out;
}

.bowl {
    display: grid;
    grid-template-columns: repeat(3, 172px);
}

.bowl-slot {
    width: 100%;
    padding: 12px;
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    color: #a1d2ff;
    background-color: white;
    border: 2px solid #1212b2;
}

.bowl-slot:first-child {
    border-radius: 20px 0 0 20px;
}

.bowl-slot:last-child {
    border-radius: 0 20px 20px 0;
}

.bowl-slot:not(:last-child) {
    border-right: none;
}

button {
    background-color: #1212b2;
    padding: 12px 24px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
}

.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 24px;
    background-color: rgb(255 170 251 / 85%);
    overflow-y: auto;
    overscroll-behavior: contain;   
}

.modal-box {
    position: relative;
    width: 100%;
    max-width: 512px;
    margin: 24px auto;
    background-color: #ffffff;  
    border: 2px solid #1212b2;
    animation: pop-effect 0.3s ease-out;
}

.modal-image {
    background-image: url("./images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
}

.modal-image-loader {
    margin: 38px auto;
    display: block;
}

.modal-content {
    padding: 16px;
}

.modal-close {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 36px;
    width: 36px;
    background-color: #ffaafb;
    border: 2px solid #1212b2;
    border-radius: 50%;
}

.loading {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(255 170 251 / 85%);
}

.loading-message {
    font-size: 24px;
    font-weight: 700;
}

.hidden {
    display: none;
}

p {
    margin-bottom: 16px;
}

@keyframes pop-effect {
    0% {
        transform: scale(0.75);
    }
    40% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }    
}